<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".views.Notification"></activity>
        <activity android:name=".views.EventNewsDetails" />
        <activity android:name=".views.gallery.Gallery" />
        <activity android:name=".views.admission.Admission" />
        <activity
            android:name=".views.contact.ContactUs"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".views.MainActivity" />
        <activity android:name=".views.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>